<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server ID</title>
    <link rel="stylesheet" href="../assest/style.css"/>

</head>
<body>
    
    <div class="Qa-container">
        <div class="question-header">
            Who Invented the light bulb ?
        </div>
        <div class="image-placeholder">
            <div class="countdown">
                10
            </div>
            <img src="https://shinait.com/logo.png" width="100px" height="100px"/>
            <div class="total-answers-area">
                <div class="answer-count">
                    8
                </div>
                <div class="answer-text">
                    Answers
                </div>
            </div>
        </div>
        <div class="answer-grid">
            <div class="answer">
                Test
            </div>
            <div class="answer">
                Test
            </div>
            <div class="answer">
                Test
            </div>
            <div class="answer">
                Test
            </div>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>

</body>
</html>