<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server ID</title>
    <link rel="stylesheet" href="../assest/style.css"/>

</head>
<body>
    
    <div class="Qa-container">
        <div class="question-header">
            <div class="question-count">
                1 of <%= questionCount %>
            </div>
            Quiz
        </div>
        <div class="answer-grid-user">
            <div class="user-answer">
                ▲
            </div>
            <div class="user-answer">
                ◆
            </div>
            <div class="user-answer">
                ■
            </div>
            <div class="user-answer">
                ●
            </div>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>

    <script>
        
    </script>

</body>
</html>