body{
    margin: 0px 0px 0px 0px;
    overflow: hidden;
    
}


.container{
    height: 100vh;
    width: 100vw;
    background-image: url("/assest/imgs/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.end-circle{
    position: absolute;
    height: 300px;
    width: 300px;
    background-color: blue;
    opacity: 0.3;
    border-radius: 150px;
    bottom: -100px;
    transform: translate(-9px, -15px);
    left: 0;
    animation: shake-circle .2s infinite alternate;

}


.top-square{
    position: absolute;
    height: 400px;
    width: 400px;
    top: -100px;
    background-color: blue;
    right: 0;
    transform: rotate(-45deg);
    opacity: 0.3;
    animation: rotate-square 2s infinite alternate;

}


.name-title{
    width: 100vw;
    height: 100vh;
    position: absolute;
    font-family: 'Dancing Script', cursive;
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    margin-top: 25%;
}

.pin-pad{
    position: absolute;
    width: 350px;
    height: 200px;
    background-color: white;
    border-radius: 5%;
    
}

.pin-pad > form{
    display: flex;
    flex-direction: column;
    height: 130px;

    > input{
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        padding: 10px 10px 10px 10px;
        margin: 20px 20px 10px 20px;
        border-radius: 7px;
        border : solid grey 0.2px;
    }

    > button{
        font-size: 20px;
        font-weight: 700;
        padding: 10px 10px 10px 10px;
        margin: 0px 20px 20px 20px;
        border-radius: 7px;
        background-color: #36454F;
        color: white;

        &:hover{
           cursor: pointer;
           padding: 5px 10px 10px 10px;

        }
    }
}


.join-container{
    width: 100vw;
    height: 100vh;
}



@keyframes shake-circle {
    0% { transform: translate(-8px, -14px); }
    33% { transform: translate(-10px, -14px); }
    66% { transform: translate(-10px, -16px); }
    100% { transform: translate(-8px, -16px); }
  }


  @keyframes rotate-square {
    0% { transform: rotate(-45deg);}
    33% { transform: rotate(-60deg); }
    66% { transform: rotate(-100deg);; }
    100% { transform: rotate(-120deg);; }
  }


  
 .header-container{
    width: 100vw;
    height: 150px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-content: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 0px;

 }

 .game-pin-area{
   
    display: flex;
    flex-direction: column;
 }


 .all-game-pin-area{
    width: 30%;
    height: 80%;
    margin: 10px 0px 10px 0px;
    opacity: 1;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 20px;
 }

 .pin-text{
    
    font-size: 20px;
    padding: 10px 10px 00px 20px;
    color: rgb(0, 0, 0);
    opacity: 1;
    font-weight: 900;

 }

 .pin{
    font-size: 70px;
    padding: 10px 10px 00px 20px;
    line-height: 50px;
    color: rgb(0, 0, 0);
    font-weight: 900;

 }

 .qr-code-area{
    display: flex;
        > img{
            width: 100px;
            height: 100px;
            justify-content: end;
            align-content: end;
            margin: 10px 10px 10px 20px;
        }
 }

 .show-area{
    height: 100%;
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding: 40px 40px 40px 40px;
    justify-content:center;
    flex-wrap: wrap;
 }

 .user-container{
    background-color: #CF9FFF;
    height: auto;
    width: auto;
    font-size: 30px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    font-weight: 700;
    color: white;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
 }

 .error-end{
    position: absolute;
    bottom: 0;
    background-color: red;
    color: white;
    font-size: 30px;
    font-weight: 900;
    width: 100vw;
    padding: 10px 10px 10px 100px;
    display: none;
 }

 .end-block{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    margin: 10px 10px 10px 10px;
 }

 .block{
    font-size: 30px;
    font-weight: 800;
    background-color :azure;
    color: black;
    padding: 10px 20px 10px 10px;
    margin:0px 10px 0px 10px;
    > span{
        color: wheat;
    }
    
 }



 /*Mobile Freindly Css*/

 @media screen and (max-width: 1200px) {

    .all-game-pin-area{
        width: 90%;
     }

     .pin{
        font-size: 50px;
        width: 100%;

     }

     .qr-code-area{
        display: flex;
            > img{
                width: 70px;
                height: 70px;
               
            }
     }


     
    .show-area{
        height: 100%;
        width: 100%;
    }


    .user-container{
        font-size: 20px;
     }
    

    
}


.Qa-container{
    width: 100vw;
    height: 100vh;
}

.question-header{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b8c0c6;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    padding: 10px 10px 10px 10px;
}

.image-placeholder{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    >img{
        width: 400px;
        height: 350px;
        margin: 10px 10px 10px 10px ;
    }
}


.countdown{
    position: absolute;
    width: auto;
    height: auto;
    left: 0;
    background-color: purple;
    margin-left: 20px;
    border-radius: 70px;
    text-align: center;
    font-size: 40px;
    padding: 10px 15px 10px 15px;
    font-weight: 700;
    color: white;
}

.total-answers-area{
    position: absolute;
    right: 0;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > .answer-count{
        font-size: 40px;
        color: black;
        font-weight: 800;
    }

    > .answer-text{
        font-size: medium;
        font-weight: 800;

    }
}

.answer-grid{
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
    align-items: center;

    > .answer{
        width: 45%;
        height: 60px;
        margin: 5px 1px 5px 10px;
        color: white;
        font-size: 40px;
        font-weight: 600;
        padding: 10px 10px 10px 10px;
        &:nth-child(1){

            background-color: #D22B2B;

            &::before{
                content: '▲';
            }
        }


        &:nth-child(2){

            background-color: #0096FF;
            &::before{
                content: '◆';
            }
        }


        &:nth-child(3){
            background-color: #E4D00A;

            &::before{
                content: '■';
            }
        }


        &:nth-child(4){
            background-color: #32CD32		;

            &::before{
                content: '●';
            }
        }
    }


}

.answer-grid-user{
    height: 80vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    > .user-answer{
        width: 45%;
        height: 45%;
        margin: 5px 1px 5px 10px;
        color: white;
        font-size: 180px;
        font-weight: 600;
        padding: 10px 10px 10px 10px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        

        &:nth-child(1){
            background-color: #D22B2B;
        }

        &:nth-child(2){
            font-size: 220px;
            background-color: #0096FF;
        }

        &:nth-child(3){
            background-color: #E4D00A;
            font-size: 220px;

        }

        &:nth-child(4){
            font-size: 300px;
            background-color: #32CD32		;
        }
    }

}

.question-count{
    position: absolute;
    left: 20px;
    font-size: 30px;
    font-weight: 800;
}